@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    margin: 20px;
}

main {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    width: 500px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.31);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin: 20px;
}